@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

body {
    background-image: url(background-destination-desktop.jpg);
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo img {
    margin-left: 35px;
    margin-top: 35px;
}

.navbar .line {
    width: 500px;
    margin-left: 50px;
    margin-top: 35px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.326)  ;
}

.menu {
    width: 60%;
    backdrop-filter: blur(100px);
    margin-top: 35px;
    background-color: rgba(240, 248, 255, 0.056);
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 50px;
}

.menu ul li a {
    color: white;
    font-size: smaller;
}

.menu ul li a span {
    color: white;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 200%;
}

.article {
    width: 50%;
}

.article h1 {
    position: absolute;
    top: 170px;
    left: 150px;
    color: rgba(255, 255, 255, 0.715);
}

.article h1 span {
    color: rgba(255, 255, 255, 0.297);
    margin-right: 15px;
}


.planetImg img {
    position: absolute;
    top: -135px;
    left: 150px;
}

.aside {
    width: 50%;
    margin: 150px 0 0 0;
}

.aside .menu-planet ul {
    display: flex;
    justify-content:baseline;
    align-items: center;
    cursor: pointer;
}

.aside .menu-planet ul li {
    color: rgba(255, 255, 255, 0.715);
}
.aside .menu-planet ul li a {
    padding: 0 20px;
}

.aside .planet-info h1 {
    font-size: 100px;
}

.aside .planet-info h1,p {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-left: 37px;
    color: rgba(255, 255, 255, 0.715);
}

.aside .planet-info .outline {
    margin-left: 37px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.715);
    width: 525px;
}

.moon-info {
    display: flex;
    margin-top: 25px;
}

.moon-info h2 {
    font-size: 15px;
    margin-left: 37px;
    color: rgba(255, 255, 255, 0.715);
    font-weight: 100;
    margin-bottom: 10px;
}

#moon-info {
    font-size: 30px;
}

#moon-info2 {
    font-size: 30px;
}